@import url('https://fonts.googleapis.com/css?family=Karma');

body {
    color: black;
    font-family: 'Karma', serif;}

h1 {
color: brown;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}

h2 {
    color: dimgrey;
}